#include <input/processors.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

&trackball {
    automouse-layer = <4>;
    scroll-layers = <5>;

    // arrows {
    //     layers = <3>;
    //     bindings =
    //         <&kp RIGHT_ARROW>,
    //         <&kp LEFT_ARROW>,
    //         <&kp UP_ARROW>,
    //         <&kp DOWN_ARROW>;
    //     tick = <10>;
    //     wait-ms = <5>;
    //     tap-ms = <5>;
    // };
};

&trackball_listener {
    boost {
        layers = <7>;
        input-processors = <&zip_xy_scaler 3 1>;
        process-next;
    };
};

/ {
    combos {
        compatible = "zmk,combos";

        tab {
            bindings = <&kp TAB>;
            key-positions = <11 12>;
        };

        shift_tab {
            bindings = <&kp LS(TAB)>;
            key-positions = <12 13>;
        };

        muhennkann {
            bindings = <&to_layer_0 INT_MUHENKAN>;
            key-positions = <11 10>;
        };

        double_quotation {
            bindings = <&kp DOUBLE_QUOTES>;
            key-positions = <20 21>;
        };

        eq {
            bindings = <&kp EQUAL>;
            key-positions = <24 25>;
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };
    };

    behaviors {
        encoder_msc_down_up: encoder_msc_down_up {
            compatible = "zmk,behavior-sensor-rotate";
            label = "ENC_MSC_DN_UP";
            #binding-cells = <0>;
            bindings = <&msc SCRL_DOWN>, <&msc SCRL_UP>;
        };

        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp TAB             &kp W           &mt LEFT_ALT E  &kp R            &kp T                                                 &kp Y        &kp U  &kp I               &kp O               &lt 1 P
&mt LEFT_CONTROL A  &kp S           &kp D           &kp F            &kp G               &mo 5            &mo 7            &kp H        &kp J  &kp K               &kp L               &lt 2 ENTER
&mt LEFT_SHIFT Z    &kp X           &kp C           &kp V            &kp B               &trans           &trans           &kp N        &kp M  &mt LEFT_ALT COMMA  &mt LEFT_SHIFT DOT  &lt 3 MINUS
&kp Q               &kp LEFT_SHIFT  &kp LEFT_ALT    &lt 6 BACKSPACE  &mt LEFT_WIN LANG2  &lt 3 SPACE      &kp RIGHT_SHIFT  &lt 2 LANG1                                                 &mt RIGHT_WIN SLASH
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP>;
        };

        FUNCTION {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &kp F15  &kp C_MUTE  &kp C_VOL_DN  &kp C_VOL_UP  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &kp F14  &trans      &trans        &trans        &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans   &trans      &trans        &trans        &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                                           &trans
            >;
        };

        NUM {
            bindings = <
&kp GRAVE      &kp N7      &kp N8      &kp N9               &kp N0                         &kp RBKT      &kp C_MUTE  &kp PAGE_UP  &kp PAGE_DOWN  &kp BACKSPACE
&none          &kp N4      &kp N5      &kp N6               &kp EQUAL  &trans      &trans  &kp LEFT      &kp DOWN    &kp UP       &kp RIGHT      &kp SEMICOLON
&none          &kp N1      &kp N2      &kp N3               &kp MINUS  &trans      &trans  &kp LS(RBKT)  &trans      &trans       &trans         &trans
&kp BACKSPACE  &kp ESCAPE  &kp ESCAPE  &mt LEFT_WIN DELETE  &none      &trans      &trans  &kp ENTER                                             &trans
            >;
        };

        ARROW {
            bindings = <
&trans      &kp GRAVE        &kp DOLLAR       &kp LEFT_BRACE   &kp NON_US_BACKSLASH                    &kp HASH        &kp RBKT        &kp F12         &kp LESS_THAN    &kp PERCENT
&kp GRAVE   &kp AMPERSAND    &kp GRAVE        &kp LEFT_BRACE   &kp NON_US_BACKSLASH  &trans  &trans      &kp CARET       &kp RIGHT_BRACE  &kp LESS_THAN    &kp GREATER_THAN &kp PLUS
&kp EXCLAMATION  &kp QUESTION  &trans      &trans        &kp NON_US_BACKSLASH  &trans      &trans  &trans      &trans        &kp LESS_THAN  &kp GREATER_THAN  &kp SLASH
&trans      &trans         &trans      &trans        &trans             &trans      &trans  &trans                                                   &trans
            >;

            sensor-bindings = <&inc_dec_kp LC(PAGE_UP) LC(PAGE_DOWN)>;
        };

        MOUSE {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans    &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans    &trans    &trans    &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &mkp MB3  &mkp MB1  &mkp MB2  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                                &trans
            >;

            sensor-bindings = <&encoder_msc_down_up>;
        };

        SCROLL {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };

        layer_6 {
            bindings = <
&trans  &trans        &trans        &trans        &trans                           &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2  &bt BT_SEL 3  &bt BT_SEL 4
&trans  &trans        &trans        &trans        &trans  &trans      &trans       &trans        &trans        &trans        &trans        &trans
&trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans  &trans      &bootloader  &trans        &trans        &trans        &trans        &bt BT_CLR
&trans  &trans        &trans        &trans        &trans  &trans      &trans       &trans                                                  &bt BT_CLR_ALL
            >;
        };

        BOOST {
            bindings = <
&trans  &trans  &trans  &trans  &trans                      &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans      &trans  &trans                          &trans
            >;
        };
    };
};
